
<h1>Success!</h1>

  <div align="center">
    <p><img src="/assets/check.png"></p>
    <p>Photo Added Successfully!</p>
    <p>Caption: <%= @the_caption %></p>
    <p>Source: <%= @the_source %></p>
    <p><a href="http://localhost:3000/">OK</a></p>
  </div>
